@import url('https://fonts.googleapis.com/css2?family=Passions+Conflict&family=Poppins:wght@300&family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
}

:root {
  --font-brand: 'Passions Conflict', cursive;
  --font-all: 'Poppins', sans-serif;
  --main-color: #f8cb2e;

  --bg-konten: #1f2e36;
}

body {
  background-color: #0b1317;
  color: white;
}

html {
  scroll-behavior: smooth;
}

section {
  padding-top: 30px;
}

.title {
  font-size: 40px;
  font-weight: 600;
  color: var(--main-color);
  box-shadow: 0 0 14px 0 var(--main-color);
  border-radius: 10px;
  margin: 50px 0 30px 0;
}

.tittle-content {
  font-size: 30px;
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
  text-transform: uppercase;
}
.tittle-content-sec {
  font-size: 30px;
  color: var(--main-color);
  text-transform: uppercase;
}

@media (max-width: 1200px) {
  .title {
    font-size: 25px;
    margin: 0 auto;
    width: 80%;
  }
  .tittle-content {
    width: 80%;
    margin: 15px auto;
    font-size: 25px;
  }
  .tittle-content-sec {
    width: 80%;
    margin: 0 auto;
  }
}
@media (max-width: 768px) {
  .title {
    font-size: 25px;
    margin: 0 auto;
    width: 60%;
  }
  .tittle-content {
    width: 60%;
    margin: 15px auto;
  }
  .tittle-content-sec {
    width: 60%;
    margin: 0 auto;
  }
}

/* h5 {
  font-size: 30px;
  color: var(--main-color);
  text-transform: uppercase; */
